
.elementLink{
    width: 275px;
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;
    align-items: flex-end;
    
    padding: 20px;
    padding-bottom: 80px;

    &__image{
        max-width: 100%;
    }
    &__name{
        word-break:normal;
        margin-top: 20px;
    }
    h4{
        font-size: 24px;
        margin-bottom: 10px;
    }
    &__link{
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
}